* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
}

#canvas {
  display: block;
}

span, div {
  position: absolute;
  color: #aaa;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  font-family: Helvetica;
  text-align: center;
}

div {
  bottom: 60px;
  a {
    text-decoration: none;
    color: #2266bb;
    &:first-child {
      margin-right: 20px;
    }
  }
}
